/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
:root{
    --primaryColor:rgb(36,163,181)
    --darkPrimary:rgb(14, 57, 62)
    --backgroundColor:rgb(235, 235, 235);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
button:hover{
    color:teal ;
}
.tabData > *:nth-child(even){
    background-color: rgba(0, 0, 0, 0.03);
}
.input_file{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.edit_icon{
    position: absolute;
    width: 100%;
    height: 20%;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    bottom: 0;
    padding: 0.5rem;
    z-index: 1;
    background-color: teal;
}
.edit_icon_pencil{
    position: absolute;
    width: 15%;
    height: 15%;
    color: teal;
    top: 0;
    right:15%;
    padding: 0.8rem;
    z-index: 1;
    border-radius: 50%;
   filter:drop-shadow(0 0 1px rgba(0,0,0,0.2));
    background-color: white;
}
.heart_icon{
    position: absolute;
    top:5%;
    right:5%;
    filter: drop-shadow(2px 2px 5px #0000009d);
}
.product_card_image_div{
    aspect-ratio: 30/35;
}
.product_card_image_div img{
    object-fit: cover;
    margin-top: -1%;
}

.seller_product_item{
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px black;
}
.seller_product_item:hover .seller_product_menu{
    /* margin-top: 0; */
    opacity: 1;
}
.seller_product_menu{
    position: absolute;
    top:0;
    left:0;
    /* margin-top: 200%; */
    background-color: rgba(0, 128, 128, 0.8);
    width: 100%;
    height: 100%;
    display: grid;
    opacity: 0;
    place-items: center;
    transition: all 0.3s;

}
.seller_product_menu >div{

    display: grid;
    gap:1.5rem;
}
.cart_icon_div{
    position: relative;
}
.cart_count{
    position: absolute;
    top:0;
    right:0;
    border-radius: 50%;
    background-color: teal;
    color:white;
}

.final_payment{
    position: absolute;

    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    align-content: center;
    gap:2rem;
    background-color: #ffffff6c;
    backdrop-filter: blur(10px);
    z-index: 1;

}

.search_results{
    position: absolute;
    top:110%;
    left: 0;
    width: 100%;
    min-height: 50vh;
    padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 255);
z-index: 1;
}
